*,
*::after,
*::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-image: url("../img/back_ground.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #03042D;
  font-size: 24px;
  line-height: 29px;
}

.container{
  max-width: 1440px;
  padding: 0 40px;
  margin: 0 auto;
}

a{
  color: white;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.logo{
  width: 100px;
  height: 50px;
}

.header{
  background-image: url("../img/earth2.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: 0;
  outline: 0;

  width: 100%;
}

.menu{
  display: flex;
  align-items: center;
  height: 73px;

  ul{
    display: flex;
    align-items: center;
  }
}

.menu__items{
  cursor: pointer;
  list-style: none;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  margin-left: 30px;
  position: relative;
  text-decoration: underline;
  ul{
    position: absolute;
    top: 20px;
    display: none;
  }
  li{
    list-style: none;
  }
  &:hover > ul{
    display: block;
  }
}

.header__main{
  margin-top: 45px;
  display: flex;

  img{
    max-width: 551px;
  }
}

.header__content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 46px;

  .header__title{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 59px;

    /* Gradient Black BG */

    background: linear-gradient(90.58deg, #98DAFF 0%, #00FFE0 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;

  }
  .header__subtitle{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;

    margin-top: 21px;
    max-width: 420px;
    color: #FFFFFF;
  }

  .header__btn{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-align: center;

    color: #000000;

    text-decoration: none;
    max-width: 450px;
    padding: 10px 0;
    border: 1px solid #FFFFFF;
    background-color: #FFFFFF;
    border-radius: 15px;
    margin-top: 42px;
  }
}

.about{
  margin-top: 150px;
  background-image: url("../img/fadeup.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  &__title{
    margin-bottom: 27px;
    text-align: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    background: linear-gradient(90.58deg, #98DAFF 0%, #00FFE0 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    text-shadow: 0px 0px 15px rgba(255, 255, 255, 0.55);
  }
  p{
    padding: 35px 45px 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-align: justify;
    background: #FFFFFF;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }
  p span{
    background: linear-gradient(90.58deg, #98DAFF 0%, #00FFE0 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }
}

.about__img--left{
  height: 608px;
  float: left;
}
.about__img--right{
  height: 608px;
  float: right;
}

.about__top{
  &--content{
    max-width: 940px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }
  &--box{
    max-width: 940px;
    margin: 0 50px;
    height: 426px;
    border: 1px solid #00FFE0;
    background: rgba(92, 92, 119, 0.7);
    border-radius: 20px;

  }
  &--img{
    ul{
      display: flex;
      justify-content: space-around;
      list-style: none;
    }
    li{
      img{
        max-width: 150px;
      }
      h3{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
        text-align: center;
        max-width: 166px;
        color: #FFFFFF;
      }
    }

    &::before{
      content: " ";
      margin: 51px auto 0;
      display: block;
      max-width: 886px;
      height: 1px;
      color: #FFFFFF;
      background-color: #FFFFFF;
    }
  }
}

.about__center{
  max-width: 1101px;
  margin-top: 257px;
  &--imgBack{
    max-width: 100%;
  }
  &--content{
    display: inline-flex;
    position: relative;
    top: -410px;
    left: 118px;
    z-index: 1;
    img{
      margin-top: 30px;
      max-width: 220px;
      height: 220px;
    }
    ul{
      list-style: none;
      color: #FFFFFF;
      max-width: 645px;
      height: 220px;
    }
  }
}

.developWay__inner{
  max-width: 100%;
  background-color: #FFFFFF;
  border-radius: 20px;
  padding: 24px 26px;
  margin-top: -20px;
  &--box{
    width: 100%;
    border: 1px solid #EAEBFF;
    box-shadow: inset 0px 0px 44px rgba(0, 0, 0, 0.44);
    border-radius: 20px;
    margin: 0 auto;
    background: #EAEBFF;
    box-shadow: inset 0px 0px 44px rgba(0, 0, 0, 0.44);
    h1{
      margin: 26px 0 0 26px;
      font-family: 'Inter';
      font-style: normal;
      font-weight: 800;
      font-size: 48px;
      line-height: 58px;
      background: linear-gradient(90.54deg, #5013D1 0%, #17EDC6 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: transparent;
    }
  }
  &--top {
    margin: 30px 80px 0 126px;

    display: flex;
    img {
      width: 220px;
      height: 220px;
    }
    ul{
      margin-top: 40px;
      list-style: none;
      max-width: 769px;
    }
    li{
      text-align: right;
      margin-bottom: 20px;
      font-family: 'Inter';
      font-style: normal;
      font-weight: 800;
      font-size: 24px;
      line-height: 29px;
      text-align: right;

      color: #03042D;
      span{
        background: linear-gradient(90.54deg, #5013D1 0%, #17EDC6 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
      }
    }
  }
  &--center {
    margin: 30px 126px 0 80px;
    display: flex;
    img {
      width: 220px;
      height: 220px;
    }
    ul{
      max-width: 785px;
      margin-right: 30px;
      text-align-last: left;
      margin-top: 40px;
      list-style: none;
    }
    li{
      text-align: right;
      margin-bottom: 20px;
      font-family: 'Inter';
      font-style: normal;
      font-weight: 800;
      font-size: 24px;
      line-height: 29px;
      text-align: right;

      color: #03042D;
      span{
        background: linear-gradient(90.54deg, #5013D1 0%, #17EDC6 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
      }
    }
  }
  &--bottom{
    margin: 123px 70px 126px;
    ul{
      display: flex;
      justify-content: space-around;
      list-style: none;
      li{
        width: 140px;
        img{
          width: 140px;
          height: 140px;
          background-color: #FFFFFF;
          border-radius: 20px;
          margin-bottom: 37px;
        }
        h3{
          text-align: center;
        }
      }
    }
  }
}

.end{
  height: 1350px;
  background-image: url("../img/fadedown.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.footer{
  margin-top: -350px;
  background: #1A1C59;
  box-shadow: -2px 4px 5px rgba(0, 0, 0, 0.32);
  h3{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 22px;
    margin-bottom: 30px;

    color: #FFFFFF;
  }
  ul{
    list-style: none;
  }
  li{
    max-width: 88px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 19px;
    margin-bottom: 14px;

    color: #FFFFFF;
  }
  a{
    text-decoration: none;
  }
  &__content{
    display: flex;
    padding: 28px 52px;
  }
  &__item:first-child{
    max-width: 613px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 22px;

    color: #FFFFFF;
    p:first-child{
      margin-bottom: 10px;
    }
  }
  &__item+&__item{
    margin-left: 100px;
  }
  &__contact{
    margin-top: 100px;
    padding: 0 52px 29px;
    display: flex;
    p{
      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 19px;
      text-align: center;

      color: #FFFFFF;
    }
    p+p{
      margin-left: 15px;
    }
  }
}

@media (max-width: 1210px) {
  .developWay__inner{
    &--box{
      h1{
        font-size: 40px;
        line-height: 50px;
      }
    }
    &--top {
      img {
        width: 200px;
        height: 200px;
      }
      ul{
        margin-top: 40px;
        list-style: none;
        max-width: 600px;
      }
      li{
        font-size: 20px;
        line-height: 23px;
        text-align: right;

        color: #03042D;
      }
    }
    &--center {
      margin: 30px 126px 0 80px;
      display: flex;
      img {
        width: 200px;
        height: 200px;
      }
      ul{
        max-width: 600px;
        margin-right: 30px;
        margin-top: 40px;
        list-style: none;
        li{
          font-size: 20px;
          line-height: 23px;
          text-align: left;

          color: #03042D;
        }
      }
    }
    &--bottom{
      margin: 53px 40px 46px;
      ul{
        display: flex;
        justify-content: space-around;
        list-style: none;
        li{
          width: 110px;
          img{
            width: 110px;
            height: 110px;
            background-color: #FFFFFF;
            border-radius: 20px;
            margin-bottom: 25px;
          }
          h3{
            font-size: 23px;
            text-align: center;
          }
        }
      }
    }
  }
}

@media (max-width: 1140px){
  .header__content{
    .header__title{
      font-size: 40px;
      line-height: 50px;

    }
    .header__subtitle{
      font-size: 20px;
      line-height: 24px;
    }

  }

  .about__center{
    max-width: 1101px;
    margin-top: 257px;
    &--imgBack{
      max-width: 100%;
    }
    &--content{
      display: inline-flex;
      position: relative;
      top: -365px;
      left: 103px;
      z-index: 1;
      img{
        margin-top: 30px;
        max-width: 200px;
      }
      ul{
        list-style: none;
        color: #FFFFFF;
        max-width: 500px;
        height: 220px;
      }
      p{
        font-size: 20px;
        line-height: 22px;
      }
    }
  }
  .footer{
    margin-top: -350px;
    background: #1A1C59;
    box-shadow: -2px 4px 5px rgba(0, 0, 0, 0.32);
    h3{
      font-family: 'Inter';
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 22px;
      margin-bottom: 30px;
      color: #FFFFFF;
    }
    ul{
      list-style: none;
    }
    li{
      max-width: 88px;
      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 22px;
      margin-bottom: 14px;

      color: #FFFFFF;
    }
    a{
      text-decoration: none;
    }
    &__content{
      display: flex;
      padding: 28px 32px;
    }
    &__item:first-child{
      max-width: 600px;
      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 22px;

      color: #FFFFFF;
      p:first-child{
        margin-bottom: 10px;
      }
    }
    &__item+&__item{
      margin-left: 20px;
    }
    &__contact{
      padding: 0 32px 29px;
      display: flex;
      p{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 20px;
        text-align: center;

        color: #FFFFFF;
      }
      p+p{
        margin-left: 15px;
      }
    }
  }
}

@media (max-width: 1000px) {
  .header{
    .logo__big{
      max-width: 340px;
    }
    &__content{
      .header__title{
        font-size: 33px;
        line-height: 35px;
      }
      .header__subtitle{
        font-size: 20px;
        line-height: 22px;
      }
    }
    &__btn{
      max-width: 250px;
    }
  }
  .menu{
    height: 68px;
    .logo{
      width: 80px;
      height: 40px;
    }
    &__items{
      font-size: 14px;
      line-height: 18px;
      color: #FFFFFF;
      margin-left: 20px;
    }
  }

  .about{
    &__title{
      font-size: 30px;
      line-height: 35px;
    }
    p{
      padding: 20px 30px 0;
      font-size: 19px;
      line-height: 20px;
    }
  }

  .about__img--right,.about__img--left{
    height: 480px;
  }

  .about__top{
    &--box{
      height: 330px;
    }
    &--img{
      ul{
        display: flex;
        justify-content: space-around;
        list-style: none;
      }
      li{
        img{
          max-width: 120px;
        }
        h3{
          font-size: 17px;
          line-height: 20px;
          max-width: 140px;
        }
      }
      &::before{
        margin: 31px 20px 0;
      }
    }
  }
  .about__center{
    max-width: 750px;
    margin-top: 257px;
    &--imgBack{
      max-width: 100%;
    }
    &--content{
      display: inline-flex;
      position: relative;
      top: -280px;
      left: 60px;
      z-index: 1;
      img{
        margin-top: 30px;
        max-width: 170px;
        height: 170px;
      }
      ul{
        list-style: none;
        color: #FFFFFF;
        max-width: 400px;
        height: 170px;
      }
      p{
        font-size: 18px;
        line-height: 19px;
      }
    }
  }

  .developWay__inner{
    &--box{
      h1{
        font-size: 37px;
        line-height: 44px;
      }
    }
    &--top {
      margin: 30px 30px 0 30px;
      img {
        width: 170px;
        height: 170px;
      }
      ul{
        margin-top: 27px;
        list-style: none;
        max-width: 530px;
      }
      li{
        font-size: 18px;
        line-height: 20px;
        text-align: right;

        color: #03042D;
      }
    }
    &--center {
      margin: 30px 30px 0 30px;
      img {
        width: 170px;
        height: 170px;
      }
      ul{
        max-width: 530px;
        margin-right: 30px;
        margin-top: 27px;
        list-style: none;
        li{
          font-size: 18px;
          line-height: 20px;
          text-align: left;

          color: #03042D;
        }
      }
    }
    &--bottom{
      margin: 43px 35px 40px;
      ul{
        display: flex;
        justify-content: space-around;
        list-style: none;
        li{
          width: 85px;
          img{
            width: 85px;
            height: 85px;
            background-color: #FFFFFF;
            border-radius: 20px;
            margin-bottom: 25px;
          }
          h3{
            font-size: 20px;
            text-align: center;
          }
        }
      }
    }
  }
}

@media (max-width: 797px) {
  .about__img--right,.about__img--left{
    display: none;
  }

  .developWay__inner{
    &--box{
      h1{
        font-size: 37px;
        line-height: 44px;
      }
    }
    &--top {
      margin: 30px 30px 0 30px;
      img {
        width: 170px;
        height: 170px;
      }
      ul{
        margin-top: 27px;
        list-style: none;
        max-width: 430px;
      }
      li{
        font-size: 18px;
        line-height: 20px;
        text-align: right;

        color: #03042D;
      }
    }
    &--center {
      margin: 30px 30px 0 30px;
      img {
        width: 170px;
        height: 170px;
      }
      ul{
        max-width: 430px;
        margin-right: 30px;
        margin-top: 27px;
        list-style: none;
        li{
          font-size: 18px;
          line-height: 20px;
          text-align: left;

          color: #03042D;
        }
      }
    }
    &--bottom{
      margin: 23px 35px 20px;
      ul{
        display: flex;
        justify-content: space-around;
        list-style: none;
        li{
          width: 70px;
          img{
            width: 70px;
            height: 70px;
            background-color: #FFFFFF;
            border-radius: 20px;
            margin-bottom: 25px;
          }
          h3{
            font-size: 20px;
            text-align: center;
          }
        }
      }
    }
  }
}
